.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.vscode
Package.resolved
*.venv
*Sources/model/outputGrade
*Sources/model/outputQues
Qwen3.5-2B
*__pycache__